.main_meteo__container {
    padding: 10px;
    margin-bottom: 30px;
    position: relative;
}

.main_meteo__box {
    min-height: 240px;
    background-color: #D8D8D8;
    background-image: url("https://images.unsplash.com/photo-1504281375361-5f326b087d54?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=967&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 10px 20px 0 rgba(0,0,0,0.5);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    color: #01175F;
}

.left-box-meteo {
    width: 100%;
    gap: 0;
    margin-top: 20px;
    border-radius: 25px;
    background: radial-gradient(circle, #5374E7 0%, #77B9F5 100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    padding: 10px;
}
  
.temp-left-box-meteo {
    font-size: 50px;
    line-height: 76px;
    font-weight: 900;
}

@media (min-width: 768px) { 
    .main_meteo__container {
        padding: 10px;
    }
    .main_meteo__box {
        min-height: 440px;
    }
    .left-box-meteo {
        padding: 0;
        margin-top: 0;
        position: absolute;
        height: 280px;
        width: 140px;
        top: 80px;
        left: -50px;
        border-radius: 0 25px 25px 0;
        flex-direction: column;
        justify-content: center;
    }
}

@media (min-width: 992px) { 
    .main_meteo__box {
        min-height: 440px;
        padding: 80px 146px;
        align-items: flex-start;
    }
}